EXPO_PUBLIC_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
EXPO_PUBLIC_APPWRITE_PROJECT_ID=6701a2b3001122334455
EXPO_PUBLIC_APPWRITE_DATABASE_ID=book_tracker_db
EXPO_PUBLIC_APPWRITE_COLLECTION_ID=books
